.text-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .text-container::before,
  .text-container::after {
    content: "";
    display: block;
    
  }
  
  .text-container::before {
    content: attr(data-text-line1);
  }
  
  .text-container::after {
    content: attr(data-text-line2);
  }
  