@tailwind base;
@tailwind components;
@tailwind utilities;

.NegroOpacidad75 {
  background-color: rgba(
    0,
    0,
    0,
    0.75
  ); /* Ajusta el último valor (0.75) para la opacidad deseada */
}
.PosCruzModal {
  margin-top: -7.5%;
  margin-right: 0.5%;
}
.ModalDescText {
  font-size: 15px;
  line-height: 1.375rem;
}
